<div class="container">
  <mat-card fxLayout="column">
    <mat-card-title translate>ÉTAPE 4</mat-card-title>
    <mat-card-subtitle translate>Observer la mare.</mat-card-subtitle>
    <mat-card-subtitle translate>Elle est :</mat-card-subtitle>
    <mat-card-content fxLayout="column">
      <section class="example-section">
        <mat-radio-group class="flex-column">
          <mat-radio-button class="example-margin" value="pleine" routerLink="/pick-frog-state"
            >Avec de l'eau</mat-radio-button
          >
          <mat-radio-button class="example-margin" value="asseche" routerLink="/pick-frog-state"
            >Asséchée</mat-radio-button
          >
        </mat-radio-group>
      </section>
    </mat-card-content>
  </mat-card>
</div>
