<div class="container">
  <mat-card fxLayout="column">
    <mat-card-title>ÉTAPE 5</mat-card-title>
    <mat-card-subtitle
      >Vous observez un ou plusieurs stades de développement de la grenouille rousse.</mat-card-subtitle
    >
    <mat-card-subtitle>Quel est le stade le plus avancé ?</mat-card-subtitle>
  </mat-card>
  <mat-card fxLayout="column">
    <mat-card-content fxLayout="column">
      <div class="flex-row">
        <img class="logo" src="assets/oeufs.jpg" alt="angular logo" />
        <!-- <p class = "center-text">Stade 1</p> -->
      </div>
      <div>
        <button mat-raised-button routerLink="/thanks">Valider</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxLayout="column">
    <mat-card-content fxLayout="column">
      <div class="flex-row">
        <img class="logo" src="assets/stade1.jpg" alt="angular logo" />
        <!-- <p class = "center-text">Stade 1</p> -->
      </div>
      <div>
        <button mat-raised-button routerLink="/thanks">Valider</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxLayout="column">
    <mat-card-content fxLayout="column">
      <div class="flex-row">
        <img class="logo" src="assets/stade2.jpg" alt="angular logo" />
        <!-- <p class = "center-text">Stade 1</p> -->
      </div>
      <div>
        <button mat-raised-button routerLink="/thanks">Valider</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxLayout="column">
    <mat-card-content fxLayout="column">
      <div class="flex-row">
        <img class="logo" src="assets/stade3.jpg" alt="angular logo" />
        <!-- <p class = "center-text">Stade 1</p> -->
      </div>
      <div>
        <button mat-raised-button routerLink="/thanks">Valider</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxLayout="column">
    <mat-card-content fxLayout="column">
      <div class="flex-row">
        <img class="logo" src="assets/stade4.jpg" alt="angular logo" />
        <!-- <p class = "center-text">Stade 1</p> -->
      </div>
      <div>
        <button mat-raised-button routerLink="/thanks">Valider</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
