.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 280px;
  margin: 0 auto;
}

button {
  margin: 5% auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

mat-card {
  margin: 5% auto;
}
